{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": [2, 4, { "SwitchCase": 1 }],
    "react/jsx-indent": [2, 4],
    "react/jsx-indent-props": [2, 4],
    "no-console": "off",
    "react/forbid-prop-types": 0
  }
}