.points-last {
  border-right: solid #32383e 1px;
}

.points-first {
  border-left: solid #32383e 1px;
}

.points-table th {
  border-right: solid #32383e 1px;
  border-left: solid #32383e 1px;
}

.points-table th, td {
  height: 25px;
  user-select: none;
}

.points-table-container {
  flex-grow: 1;
  overflow-x: scroll;
  display: flex;
}
//.points-table table {
//
//}

.points-vals {
  width: 20px;
}


.tables-container {
  width: 100%;
  min-width: 100%;
  display: flex;
  text-align: center;

}

.points-changed {
  background-color: #a9212c;
}

.points-ongoing {
  background-color: #a97e19;
}

.points-saved {
  background-color: #128111;
}

.table-part {
  //float: left;
  width: 150px;
  //flex-grow: 1;
  border: solid 1px #343b41;
}

.table-names {
  border: solid 1px #343b41;
}

.date-header-editable {
  //cursor: pointer;
}

.date-header-null-editable {
  display: flex;
  height: 24px;
  font-size: 24px;
}

.date-header {
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  min-width: 150px;
  //transition: 3s;
}

//.date-header:hover {
//  min-width: 300px;
//}

.date-header-editing input {
  width: 150px;
  height: 30px;
}

.date-header-editing {
  padding: 9px !important;
  //width: 155px;
}

.date-header-button {
  display: inline !important;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
}

.new-points-container {
  display: flex;
  transition: width .6s;
}

.new-points-toggle-button {
  flex-grow: 1;
  transition: inherit;
  overflow: hidden;
  background-color: #212529;
  cursor: pointer;
}

.new-points-toggle-button i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.new-points-table {
  flex-grow: 1;
  transition: inherit;
  overflow: hidden;
}

.new-points-table .table-part {
  width: 250px;
}

.name-hovered {
  background-color: rgba(255,255,255,.075);
}

.empty-header-button {
  flex-grow: 1;
}

.empty-header-button:hover {
  background-color: rgba(255,255,255,.075);
}

.points-instruction-container {
  padding-top: 20px;
  font-size: 18px;
}