*.log
npm-debug.log*
node_modules/
.npm/
.eslintcache
.env/
.idea/
build/frontend/css/
build/frontend/js/
build/*.js
*.tmp-browserify*
dump*.sql
backend/config.js
build/frontend/index.html
build/frontend/notification.*